body {
  font-family: Arial, sans-serif;
}

#pdfContainer {
  display: none;
  margin-bottom: 20px;
}

#pdfCanvas {
  border: 1px solid #000;
}

#controls {
  display: flex;
  align-items: center;
}

#prevButton,
#nextButton {
  margin: 0 10px;
}

#pageNumInput {
  width: 50px;
  text-align: center;
}
